<div class="card">
  <div class="row">
    <div class="col d-flex justify-content-center mb-4 mt-3">
      <p class="h3">
        Listado de Usuarios En EL Sistema
      </p>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of  usuarios">
        <th scope="row">{{usuario.name}} {{usuario.surname}} </th>
        <td>{{usuario.email}}</td>
        <td>{{usuario.role}}</td>
        <td>
          <a (click)="verUsuario(usuario.id)" class="btn btn-danger mr-1">Ver</a>
          <a href="" class="btn btn-danger ml-1">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
