<div class="card animated bounceInUp">
  <div class="row">
    <div class="col d-flex justify-content-center mb-4 mt-3">
      <p class="h3">
        Listado de Usuarios En EL Sistema
      </p>
    </div>
  </div>

  <table class="table table-striped table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of  usuarios">
        <th scope="row">{{usuario.name}} {{usuario.surname}} </th>
        <td>{{usuario.email}}</td>
        <td>{{usuario.role}}</td>
        <td>
          <a [routerLink]="['/usuario',usuario.id]"class="btn btn-outline-danger mr-md-1  btn-rounded">Ver</a>
          <a [routerLink]="['/usuario/editar',usuario.id]" class="btn btn-outline-danger ml-md-1  btn-rounded">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
